/*estilo todo el documento*/
body {
    margin: 130px; /* Ajusta el margen general del documento */
    background:#F3F3F3;
    font-family: 'Times New Roman';
    /*font-weight: normal;*/
    font-style: normal;
    color: black;
}

/* Estilos para la imagen del perfil */
#image {
    text-align: right;
}

#image img {
    max-width: 40%;
    height: auto;
}
/*Estilo titulo*/
.title h1{
font-size: 64px;
}

/*Estilo Link*/
#link ul {
    display: inline-flex !important;
}

#links a{
    color: black;
    margin-right: 12px;
    font-size: 20px;
    display: inline-flex !important;
}


/* Estilos para los proyectos */
.container{
    margin-top: 20px;
    font-size: 1.4rem;
}
#projects .container {
    margin-top: 22px;
}

#projects h5 {
    font-weight: bold;
}

#projects .description {
    margin: 20px 0;
}

#projects img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Estilos para el enlace "More from this project" */
#projects a {
    color: black;
}


hr {
    border: 2px solid #000; /* Cambia el color del hr a negro */
    background-color: #000; /* Cambia el color de fondo del hr a negro */
    height: 1px; /* Ajusta el grosor del hr */
    margin: 25px 0; /* Ajusta el margen superior e inferior del hr */
}

/*footer*/

footer a {
    color: black;
}