/*estilo todo el documento*/
body {
    margin: 130px; /* Ajusta el margen general del documento */
    background:#F3F3F3;
    font-family: 'Times New Roman';
    font-style: normal;
    color: black;
}

/* Estilos para la imagen del perfil */
#image {
    text-align: right;
}

#image img {
    max-width: 40%;
    height: auto;
}
/*Estilo titulo*/
.title h1{
font-size: 64px;
}

/*Estilo Link*/
#links ul {
    display: flex;
}

#links a{
    color: black;
    margin-right: 12px;
    font-size: 20px;
}


/* Estilos para los proyectos */
.container{
    margin-top: 20px;
    font-size: 22px;
}
#projects .container {
    margin-top: 22px;
}

#projects h5 {
    font-weight: bold;
}

#projects .description {
    margin: 20px 0;
}

#projects img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

/* Estilos para el enlace "More from this project" */
#projects a {
    color: black;
}


hr {
    border: 2px solid #000; /* Cambia el color del hr a negro */
    background-color: #000; /* Cambia el color de fondo del hr a negro */
    height: 1px; /* Ajusta el grosor del hr */
    margin: 25px 0; /* Ajusta el margen superior e inferior del hr */
}

/*footer*/

footer a {
    color: black;
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    body {
        margin: 20px; /* Reducir el margen general en pantallas pequeñas */
        text-align: center; /*centrar todo el texto en pantallas pequeñas*/
    }

    #image img {
        max-width: 100%; /* Asegurar que la imagen de perfil sea responsive */
    }

    .title h1 {
        font-size: 32px; /* Reducir el tamaño del título en pantallas pequeñas */
    }

    #links ul {
        justify-content: center;
    }

    #links a {
        margin-right: 8px; /* Reducir el margen entre los enlaces */
    }

    #projects .container {
        margin-top: 10px; /* Reducir el margen entre los proyectos en pantallas pequeñas */
    }

    #projects h5 {
        font-size: 20px; /* Reducir el tamaño de los títulos de proyectos en pantallas pequeñas */
    }

    #projects img {
        margin-top: 5px; /* Reducir el margen superior de las imágenes en pantallas pequeñas */
    }

    .container a{
        margin-top: 16px;
    }
}